body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #fff236;
    color: rgb(160, 0, 0);
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 5px;
}

h2 {
    color: #35424a;
}

section {
    margin: 20px;
    padding: 20px;
    background: rgb(53, 168, 235);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #009dff;
    color: white;
}